body {
    background-color: #363737;
}

#title {
    color: #9c9c9c;
    text-align: center;
}

#piechart {
    width: 33%;
}

.box {
    background-color: #9c9c9c;
    border: 1px solid #ffffff;
    border-radius: 25px;
    margin: 0;
    padding: 10px;

    color: #000000;
    text-align: center;

    max-width: max-content;
    margin: auto;
}

#loginbutton {
    background-color: #9c9c9c;
}
